@CHARSET "UTF-8";

/* 全局设置
----------------------------------*/
* {
	
}

body {
	overflow: auto;
	height: 100%;
	padding: 0px;
	margin: 0px;
	font-family: "Open Sans",helvetica,arial,sans-serif;
	font-size: 12px;
}

a {
	text-decoration: none;
	color: #626262;
}

ul li {
	list-style-type: none; /* 去除点 */
}

/* base布局
----------------------------------*/
.base_header {
	
}

.base_header_top {

}

.base_header_content {
	background-color: #5F6E8D;
	background: -webkit-linear-gradient(#6C7D9D, #505E7A); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#6C7D9D, #505E7A); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#6C7D9D, #505E7A); /* Firefox 3.6 - 15 */
    background: linear-gradient(#6C7D9D, #505E7A); /* 标准的语法 */
	height: 85px;
}

.base_header_content .base_logo {
	float: left;
}

.base_header_content .base_state {
	float: right;
	margin: 21px 20px 0px 0px;
}

.base_header_content .base_state img {
	height: 38px;
}

.base_header_bottom {
	background-color: #EBF0F2;
	height: 30px;
}

.base_header_bottom .bhbu{
	float: right;
	margin: 7px 30px 0px 0px;
	font-size: 13px;
	color: #626262;
}

.base_main {
	border: 0px solid;
	min-height: 490px;
	margin: 0 auto;
	padding: 0px;
}

.base_main .base_menu {
	border-right: 1px solid #CCCCCC;
	float: left;
	width: 17%;
	min-height: 541px;
	float: left;
	margin: 0px;
	padding: 0px;
}

.base_main .base_content {
	border: 0px solid;
	float: right;
	width: 82.5%;
	padding: 0px;
	margin: 0px;
}

.base_footer {
	height: 51px;
	margin-left: 17%;
	border-top: 1px solid #CCCCCC;
}

/*  显示 table
----------------------------------*/
/* base_table_div */
.btd {
	font-size: 12px;
	margin: 0px 25px 0px 20px;
}

/* base_table_header */
.bth {
	margin: 0 auto;
	margin-top: 20px;
	width: 80%;
	height: 30px;
	padding: 5px;
}

.bth .bthad {
	margin: 0px;
	padding: 0px;
	width: 200px;
	float: left;
}

.bth .bthad input[type=button] {
	margin: 0px;
	padding: 3px 12px 3px 12px;
}

.bth .search {
	margin: 0px;
	padding: 0px;
	width: 300px;
	float: right;
	text-align: right;
}

.bth .search input[type=text] {
	margin: 0px;
	height: 20px;
	width: 200px;
}

.bth .search input[type=submit] {
	margin-bottom: 4px;
	padding: 3px 12px 3px 12px;
}

/* base_table  */
.bt {
	margin: 0 auto;
	width: 80%;
	border-collapse: collapse;
}

/* table 奇数行 */
.bt_even {
	background-color: #F9F9F9;
}
/* table 偶数行 */
.bt_odd {
	
}

/* 鼠标移动 到行的颜色*/
.bt_hover {
	background-color: #D2E9FB;
}

.bt tr td,.bt tr th {
	height: 35px;
	text-align: center;
	border: 1px solid #eee;
}

/* base_table_footer */
.btf {
	margin: 0 auto;
	padding-top:10px;
	height: 40px;
	width: 80%;
	text-align: right;
	font-size: 14px;
	position: relative;
}

.btf a {
	margin-right: 5px;
}

.btf span {
	color: #626262;
	margin-left: 5px;
}

/* content 设置 
----------------------------------*/
/* base_content_header */
.bch {
	border-bottom: 1px solid #EEEEEE;
	height: 100px;
	padding:0px;
	margin: 0px 25px 0px 20px;
	font-size: 15px;
}

/* base_content_theme */
.bch .bct {
	color: #626262;
	padding: 25px 0px 0px 0px;
	margin:0 auto;
}

.bch .bct2 {
	margin: 20px 0px 0px 0px;
	font-size: 10px;
	color: gray;
}

/* content弹出层 */
.base_pop .btad{

}