@CHARSET "UTF-8";

/* 全局设置
----------------------------------*/
html {
	
}

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	font-size: 62.5%;
	overflow: auto;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none
}

ul li {
	list-style-type: none; /* 去除点 */
}

/* base布局
----------------------------------*/
.base_header {
	
}

.base_header_top {
	background-color: #5F6E8D;
	height: 50px;
}

.base_header_content {
	
}

.base_header_content .base_logo {
	
}

.base_header_content .base_state {
	
}

.base_header_bottom {
	background-color: #EBF0F2;
	height: 25px;
}

.base_main {
	font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana",
		"sans-serif";
	font-size: 62.5%;
	border: 0px solid;
	min-height: 500px;
	margin: 0 auto;
	padding: 0px;
}

.base_main .base_menu {
	border-right: 1px solid #CCCCCC;
	float: left;
	width: 17%;
	min-height: 581px;
	float: left;
	margin: 0px;
	padding: 0px;
}

.base_main .base_content {
	border: 0px solid;
	float: right;
	width: 82.5%;
	min-height: 500px;
	padding: 0px;
	margin: 0px;
}

.base_footer {
	height: 81px;
	margin-left: 17%;
	border-top: 1px solid #CCCCCC;
}

/*  显示 table
----------------------------------*/
/* base_table_div */
.btd {
	font-size: 12px;
}

/* base_table_header */
.bth {
	margin: 0 auto;
	width: 80%;
	height: 30px;
	padding: 5px;
}

.bth .bthad {
	margin: 0px;
	padding: 0px;
	width: 200px;
	float: left;
}

.bth .bthad input[type=button] {
	margin: 0px;
	padding: 3px 12px 3px 12px;
}

.bth .search {
	margin: 0px;
	padding: 0px;
	width: 300px;
	float: right;
	text-align: right;
}

.bth .search input[type=text] {
	margin: 0px;
	height: 20px;
	width: 200px;
}

.bth .search input[type=submit] {
	margin-bottom: 4px;
	padding: 3px 12px 3px 12px;
}

/* base_table  */
.bt {
	margin: 0 auto;
	width: 80%;
	border-collapse: collapse;
}

/* table 奇数行 */
.bt_even {
	background-color: #F9F9F9;
}
/* table 偶数行 */
.bt_odd {
	
}

/* 鼠标移动 到行的颜色*/
.bt_hover {
	background-color: #D2E9FB;
}

.bt tr td,.bt tr th {
	height: 35px;
	text-align: center;
	border: 1px solid #eee;
}

/* base_table_footer */
.btf {
	margin: 0 auto;
	padding-top:10px;
	width: 80%;
	text-align: right;
	font-size: 14px;
}

/* content 设置 
----------------------------------*/
/* base_content_header */
.bch {
	border-bottom: 1px solid #EEEEEE;
	height: 90px;
	padding:0px;
	margin: 0px 15px 15px 10px;
}

/*  base_content_theme */
.bch .bct {
	width: 150px;
	font-size: 18px;
	text-align: center;
	padding: 10px 0px 0px 0px;
	margin:0 auto;
}